@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="row">
        <input type="text" class="col-6 form-control input" id="searchKey" name="name" placeholder=" search key" value="" />
        <button id="btnSearch" class="btn mx-2 
                btn-primary" onclick="getEmployees()"> Search</button>
    </div>
    <div id="employeesList" class="row mt-4">

    </div>
</div>
